<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymleaf.org">
<head>
	<meta charset="UTF-8">
	<title>发布你的帖子</title>
	<link rel="shortcut icon" th:href="@{/static/img/bitbug_favicon.ico}" /> 
	<link rel="stylesheet" th:href="@{/static/css/bootstrap-theme.min.css}" href="/static/css/bootstrap-theme.min.css">
	<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" href="/static/css/bootstrap.min.css">
	<script type="text/javascript" th:src="@{/static/js/jquery.min.js}" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		function check(){
			if(form.ptitle.value == ""||form.ptitle.value == null){
				alert("请输入标题");
				form.ptitle.focus();
				return false;
			}
			if(form.pbody.value == ""||form.pbody.value == null){
				alert("请输入内容");
				form.ptitle.focus();
				return false;
			}
			if(form.tag.value == ""||form.tag.value == null){
				alert("请输入标签");
				form.tag.focus();
				return false;
			}
		}
	</script>
</head>
<body background="/static/img/timg1.jpg"style=" background-repeat:no-repeat ;background-size:100% 100%;background-attachment: fixed;">
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid" style="margin-top:100px; margin-left: 150px;margin-right: 150px;margin-bottom: 100px;">
	<div class="row">
		<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="height:600px; background-color: #FFF5EE;border-radius: 10px 0px 0px 10px;">
			<h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发表</h2>
			<hr>
			<form action="/publish" method="post" name="form" onsubmit="return check();">
				<div class="form-group">
					<label for="ptitle">帖子标题（简单扼要）</label>
					<input type="text" class="form-control" maxlength="60" id="ptitle" name="ptitle" placeholder="帖子标题......不要超过40字">	
				</div>
				<div class="form-group">
					<label for="pbody">帖子内容（参考提示内容）</label>
					<textarea rows="10" class="form-control" cols="30" id="pbody" name="pbody" placeholder="帖子内容......"></textarea>
				</div>
				<div class="form-group">
					<label for="tag">添加标签</label>
					<input type="text" class="form-control" id="tag" name="tag" placeholder="帖子标签">	
				</div>
				<button class="btn btn-success" type="submit" style="float: right;">发布</button>
			</form>
		</div>
		<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="height:600px; background-color: #FFF5EE;border-radius: 0px 10px 10px 0px;">
		<h3><b>友情提示:</b></h3>
		<h4>&nbsp</h4>
		<h4><b>文明论坛，从我做起</b><br></h4>
		<h4><b>·标题不要过长,最多为40字!</b><br></h4>
		<h4><b>·不要忘记写入标签哦!!</b><br></h4>
		<h4><b>·不要有不文明词汇的出现，若违反将会被封号!!!</b><br></h4>	
		<h4><b>~欢迎您多多发帖，活跃我们的电竞社区！</b></h4>	
		</div>
	</div>
</div>
</body>
</html>