<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.Esport.work.dao.PostDao">
	<insert id="Save" parameterType="Post">
		insert into post (ptitle,pbody,tag,psendtime,id) 
		value(#{ptitle},#{pbody},#{tag},#{psendtime},#{id})
	</insert>
</mapper>
