<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.Esport.work.dao.PostDao">
	<insert id="save" parameterType="Post">
		insert into post (ptitle,pbody,psendtime,tag,creatorID)
		values (#{ptitle},#{pbody},#{psendtime},#{tag},#{creatorID})
	</insert>
	<select id="list" resultType="Post">
		select * from post limit #{offset} ,#{size}
	</select>
	<select id="count" resultType="Integer">
		select count(1) from post
	</select>
	<select id="list1" resultType="Post">
		select * from post where creatorID = #{creatorID} limit #{offset} ,#{size}
	</select>
	<select id="countbyUser" resultType="Integer">
		select count(1) from post where creatorID = #{creatorID}
	</select>
</mapper>
